.search-container{
    width: 500px;
    margin: 0 auto;
    padding: 1px;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
}
.record-field{
    width: 459px;
    height: 25px;
    font-size: 20px;
    outline: none;
    border: none;
    margin-left: 5px;
}
.submit-btn{
    cursor: pointer;
    margin-right: 2px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 40px;
    border: 1px solid black;
    outline: none;
}